html,body,.container,.row {
    height: 100%;
}
.col-sm-9.col-md-7.col-lg-5.mx-auto {
    align-items: center;
    display: flex;
}
.card.card-signin.my-5 {
    background-color: rgba(255, 255, 255, 0.6);
}

.lista-armas .media {
    padding-bottom: 3rem;
    display: inline-block;
    width: 20rem;
}

.lista-armas .media:last-of-type {
    border-bottom: 0;
}

.lista-armas .media-body p {
    margin: 0;
    max-width: 18rem;
}

.lista-armas .media-body button {
    margin-top: 1rem!important;
}

.lista-armas .media-body span {
    font-weight: bold;
}

.col-form-label {
    font-size: 12px;
}

.titulo {
    background: rgba(255, 255, 255, 0);
    text-align: center;
}