<div class="au-xs-ta-center au-lg-ta-left">
    <ul class="rk-menu rk-categories-menu">
        <li class="{{#if active.portfolio_flex}} active {{/if}} rk-menu__item"><a href="/portfolio" class="rk-menu__link">Flex</a>
        </li>
        <li class="{{#if active.portfolio_alt}} active {{/if}} rk-menu__item"><a href="/portfolio-alt" class="rk-menu__link">Switch</a>
        </li>
        <li class="{{#if active.portfolio_raw}} active {{/if}} rk-menu__item"><a href="/portfolio-raw" class="rk-menu__link">Static</a>
        </li>
        <li class="{{#if active.portfolio_masonry}} active {{/if}} rk-menu__item"><a href="/portfolio-masonry" class="rk-menu__link">Masonry</a>
        </li>
    </ul>
</div>