<!DOCTYPE html>
<html>
  {{> head}}
  <body class="top-fixed">
    {{> header}}
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio rk-main">
      {{> portfolio_menu}}
      {{> portfolio_items}}
    </section>
    {{> footer}}
    <script src="assets/js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
  </body>
</html>